Northwind.WinForm/Connected Services/ProductServiceReference/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58477/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Northwind.DTO" />
  <xs:element name="Listing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Northwind.DTO" minOccurs="0" name="ListingResult" nillable="true" type="q1:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Northwind.DTO" minOccurs="0" name="dto" nillable="true" type="q2:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Northwind.DTO" minOccurs="0" name="dto" nillable="true" type="q3:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deleting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Northwind.DTO" minOccurs="0" name="dto" nillable="true" type="q4:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>